@charset "utf-8";
/* CSS Document */

img {
	max-width:100%;
	height:auto;
}

.wraper{
    max-width: 96%;
}
.container-1260 {
	max-width:96%;	
}

@media screen and (max-width: 1260px) {
.logo {
	padding-left:2%;
}
}

@media screen and (max-width: 480px) {
#logo-mobile {
	text-align:center;	
}
}




/*MOBILE-MENU*/

#mobile-menu-launch {
	font-size:30px;
	margin-top:30px;
	margin-left:20px;
	cursor:pointer;
	color:#000;	
}
@media screen and (max-width: 480px) {
#mobile-menu-launch {
	margin-top:0px;
}
}

#mobile-menu {
	margin-top:20px;
	padding:10px 0px;
	background-color:#fff; 
	display:none;	
}

#mobile-menu li {
	font-size:22px;
	/*font-family:'Fira sans', sans-serif;*/
	color: #000;
	padding: 20px 20px;
	border-bottom:1px solid rgb(200,200,200);
}

#mobile-menu li.level1 {
	/*padding: 5px 0px;
	border-top:1px solid rgb(200,200,200);*/	
}

#mobile-menu li.level2 {
	padding-left: 20px;	
}

#mobile-menu li.level3 {
	padding-left: 20px;	
}

#mobile-menu ul.level2 {
	display:none;	
}

#mobile-menu ul.level3 {
	display:none;	
}

#mobile-menu li.level1.active > a {
	color:#a63941;
	
}


@media screen and (max-width: 750px) {
.column {
-webkit-column-width: 40%;
-moz-column-width: 40%;
column-width: 40%;
-webkit-column-count: 1;
-moz-column-count: 1;
column-count: 1;
-webkit-column-gap: 0px;
-moz-column-gap: 0px;
column-gap: 0px;

}

.column3 {
-webkit-column-width: 40%;
-moz-column-width: 40%;
column-width: 40%;
-webkit-column-count: 1;
-moz-column-count: 1;
column-count: 1;
-webkit-column-gap: 0px;
-moz-column-gap: 0px;
column-gap: 0px;

}

}

.subcat2 div {
	margin-bottom: 20px;
}

@media screen and (max-width: 750px) {
.two-cols {
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
	
}
}

#breadcrumbs{
    line-height: 15px;
}

.button {
	cursor:pointer;
	font-weight:bold;
	border-radius:2px;
	transition:all 0.2s;	
}
.button:hover {
	background-color:rgb(0,0,0);
	color:#ff0;	
}

.rfq-image {
	width:80%;
	height:auto;
}

.rfq-quantity {
	width:50%;
	padding:10px;
	font-size:18px;
	max-width:100px;
}
@media screen and (max-width: 1000px) {
.rfq-quantity {
	width:50%;
	padding:10px 2%;
}	
}
@media screen and (max-width: 750px) {
.rfq-quantity {
	width:90%;
	padding:10px 2%;
}	
}

#rfq-customer-data input, #rfq-customer-data textarea {
	width:90%;
	padding:10px 2%;
	margin-bottom:20px;
	font-size:16px;
}
@media screen and (max-width: 750px) {
#rfq-customer-data input, #rfq-customer-data textarea {
	width:96%;
	
}	
}

.del-rfq-item {
	font-size:30px !important;
	color:rgb(200,200,200);	
	cursor:pointer;
	margin-left:20px;
}
.del-rfq-item:hover {
	color:rgb(0,0,0);	
}
@media screen and (max-width: 750px) {
.del-rfq-item {
	margin-left:0px;
	margin-top:20px;
}	
}