@charset "utf-8";
/* CSS Document */

body {
    margin:0px;
    font-family:Tahoma, Geneva, sans-serif;
    font-size:14px;
}
body.form {
    margin: 0px;
    background-color: rgb(255,255,255);
}

em {
    font-style:italic;	
}
strong {
    font-weight:bold;
}

h1, h2, h3 {	
    font-weight:bold;
    margin-bottom:1em;
}
h1 {
    font-size:1.5em;
}
h2 {
    font-size:1.3em;	
}
h3 {
    font-size:1.1em;
    font-style:italic;
}
h4 {    
    font-weight:bold;
}

p {
    margin-bottom:1em;
}

a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}


.header {
    padding: 20px 10px 10px;
    background-color: rgb(100,150,200);
    color:rgb(255,255,255);
}

.main {
    background-color: rgb(255,255,255);
    padding: 20px;
    min-height: 650px;
}
@media screen and (max-width: 1400px) {
.main {
    padding: 20px 0px;
}    
}

.form-container {
    min-height: 30em;
}
.form-container h1, .form-container h2 {
    padding-top: 0.5em;
    padding-left: 1em;
}

.footer {
    padding: 10px;
    background-color: rgb(100,150,200);
    color:rgb(255,255,255);
}

/*  MENU ===========================================================*/
div.menu {
    padding: 0px 1em;
    /*background-color: rgb(220,220,255);
    background-color: rgb(240,240,240);*/
    background-color:rgb(220,220,220);
    height: 40px;
    border-top:1px solid rgb(255,255,255);
    border-bottom:1px solid rgb(255,255,255);
    z-index: 9999;
}

ul.level0 ul{
	list-style:none;
	position:absolute;
        background-color: rgb(0,0,0);
        z-index: 9999;
	
}
ul.level1 {
	left:0px;
	top:41px;
}
ul.level2 {
	left:200px;
	top:0px;
}

ul.level0 li {
	float:left;
	list-style:none;
	padding:10px;
	padding-right:30px;
	background-color:rgb(220,220,220);
	border-bottom:1px solid rgb(255,255,255);
	border-left:1px solid rgb(255,255,255);
	position:relative;
	height:20px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	cursor:pointer;
}
ul.level0 li a {
	text-decoration:none;
    color: rgb(0,0,0);
}
ul.level0 li a:hover {
	text-decoration:underline;
}
.level1 li, .level2 li {
	float:none;
	position:relative;
	display:none;
	width:200px;
}
ul.level0 li:hover li.level1 {
	display:block;
	left:0;	
}
ul.level1 li:hover li.level2 {
	display:block;
			
}


/*FORM*/
form {
    margin:1em;
    border:1px solid rgb(200,200,200);
    border-radius: 3px;
    padding: 1em;
}

.content .form-search{
    margin-left: 0px;
}
@media screen and (max-width: 1400px) {
form {
/*    margin:1em 0px;*/
   
}    
}


form input, form select, textarea {
    margin-bottom: 0.5em;    
    border:1px solid rgb(200,200,200);
    border-radius: 3px;
    padding:1%;
}
form input[type="text"], form input[type="password"], textarea {
    width: 90%;
}
form input[type="text"]:focus, form input[type="password"]:focus,textarea:focus {
    border:1px solid rgb(200,150,0);
}
form input[type="submit"],form input[type="button"],form input[type="reset"] {
    background-color: rgb(255,200,0);
    cursor:pointer;
    padding: 0.3em 1em;
}
form input[type="checkbox"] {
    margin-bottom: 1em;
}
form input[type="submit"]:hover,form input[type="button"]:hover, form input[type="reset"]:hover {
    background-color: rgb(255,0,0);
    color: rgb(255,255,255);
}

a.button, div.button {
    background-color: rgb(255,200,0);
    cursor:pointer;
    padding: 0.3em 1em;
}
a.button:hover, div.button:hover  {
    background-color: rgb(255,0,0);
    color: rgb(255,255,255);
}


/*TABLE-DATAGRID*/
table.datagrid {
    border:1px solid rgb(100,150,200);
    width: 100%;
    margin-right: 250px;
}
table.datagrid td {
    padding: 0.5em 0.3em;
    
}
table.datagrid th {
    background-color: rgb(100,150,200);
    color:rgb(255,255,255);
    padding: 0.5em;
    font-weight: bold;
}
table.datagrid td.odd {
    background-color: rgb(255,255,255);
    border-right: 1px solid rgb(240,240,240);
    
}
table.datagrid td.even {
    background-color: rgb(240,240,240);
    border-right: 1px solid rgb(255,255,255);
    
}
table.datagrid td:last-of-type {
    border-right:0px;
}
table.datagrid td.table-footer {
    /*background-color: rgb(150,200,250);*/
    background-color: rgb(220,220,220);
    height: 0.3em;
/*    padding: 0px;*/
    padding: 0.5em 0.3em;
}

@media screen and (max-width: 1350px) {
table#gridCompanies td:nth-child(7), table#gridCompanies th:nth-child(7) {
  display: none;
}
}
@media screen and (max-width: 1200px) {
table#gridCompanies td:nth-child(8), table#gridCompanies th:nth-child(8) {
  display: none;
}
}
@media screen and (max-width: 1150px) {
table#gridCompanies td:nth-child(9), table#gridCompanies th:nth-child(9) {
  display: none;
}
}

.content {
    padding: 20px;
}

form.login {
    width: 400px;
    padding: 20px;
    border: 1px solid #C8C8C8;
    border-radius: 10px;
    margin: 100px auto auto;
}

.login-error {
    margin:10px 10px; 
    color: red; 
    font-weight: bold;
}

/* TOOLBAR ======================================================================*/
.toolbar {
    /*margin: 0.5em 1%;*/
    padding: 0.3em;
    background-color: rgb(255,255,240);
    margin-bottom: 1em;
}
a.button {
    background-color: rgb(255,200,0);
    border:1px solid rgb(200,200,200);
    border-radius: 3px;
    padding: 0.36em 1em;
    cursor: pointer;
}
a.button:hover {
    background-color: rgb(255,0,0);
    color: rgb(255,255,255);
}
a.inline-button {
    background-color: rgb(230,230,230);
    border:1px solid rgb(200,200,200);
    border-radius: 3px;
    padding: 0.1em 0.3em;
    cursor: pointer;
}
a.inline-button:hover {
    background-color: rgb(255,0,0);
    color: rgb(255,255,255);
}

a.inline-button-selected {
    background-color: rgb(255,200,0);
    border:1px solid rgb(200,200,200);
    border-radius: 3px;
    padding: 0.1em 0.3em;
    cursor: pointer;
}


.subgrid {
    display:none;
    padding-left: 2px;
    padding-right: 1px;
}

.subgrid table th {
    background-color: rgb(200,200,200);
    height: 5px;
    padding: 0px 0.5em;
    color: rgb(200,200,200);
    overflow: hidden;
}
.subgrid table {
    /*border-right: 0px;*/
}

.articles .subgrid table th {
    background-color: rgb(100,150,200);
    height: auto;
    padding: 0.5em;
    color: rgb(255,255,255);
    overflow: auto;
}

div.clear {
    clear: both;
}

.stores {
    padding-bottom: 20px;
}

.sep-h-5{
    height: 5px;
}

.sep-h-10{
    height: 10px;
}

.additional li{    
    padding: 5px 0px;
}

.statusOnProcess{
    width: 40px;
    height: 40px;
}

.statusCancel, .statusDelete{
    color: blue;
}

@media print {
    .dontprint {
        display: none;
    }    
}