@charset "utf-8";
/* CSS Document */


body {
    font-family: 'Open Sans', sans-serif !important;
}

.clear {
    clear:both;
}

.exit {
    padding-top: 15px;
    height: 20px;
}

.exit a {
    text-decoration: none;
    color: #181509;
}

.exit a:hover {
    color: blue;
}

.login {
    text-align: center; 
    width: 100%
}

#login {
    background-color: #cccccc;
    border: 2px solid #666633;
    height: auto;
    width: 300px;
    display: inline-block;
    padding-top: 10px;
}

#login input[type=text],
#login input[type=password] {
    padding: 10px;
    width: 80%;
}

#login .login-error {
    margin:10px 10px; 
    color: red; 
    font-weight: bold;
}

#login .text-input {
    margin:15px 0;
}

#login input[type=submit]{
    padding: 10px 27px;
    background-color: aliceblue;
    border: medium none;
}

.content {
    padding: 0px 30px;
}

.nav {
/*    padding-left: 50px;
    padding-top: 65px;*/
}

.nav ul {
    list-style:none;    
}

#top-menu.nav ul li.level1{
    float:left;
}

.nav ul li.level1 a{
    text-decoration: none; 
    color: #181509;
    display: block;
    background-color: #CCC;
    border: 2px solid #663;
    padding: 5px;  
    margin: 5px;
}

.nav ul li.level1 a:hover {
    background-color: #F0F8FF;
}

/*TABLE-DATAGRID*/
table.datagrid {
    border:1px solid rgb(100,150,200);
    width: 100%;
    margin-right: 250px;
}
table.datagrid td {
    padding: 0.5em 0.3em;
    
}
table.datagrid th {
    background-color: rgb(100,150,200);
    color:rgb(255,255,255);
    padding: 0.5em;
    font-weight: bold;
}
table.datagrid td.odd {
    background-color: rgb(255,255,255);
    border-right: 1px solid rgb(240,240,240);
    
}
table.datagrid td.even {
    background-color: rgb(240,240,240);
    border-right: 1px solid rgb(255,255,255);
    
}
table.datagrid td:last-of-type {
    border-right:0px;
}
table.datagrid td.table-footer {
    /*background-color: rgb(150,200,250);*/
    background-color: rgb(220,220,220);
    height: 0.3em;
/*    padding: 0px;*/
    padding: 0.5em 0.3em;
}

.delForm{
    margin: 20px;
}

.btn {
    text-decoration: none;
    padding: 5px;
    background-color: #a0b0e9;
    color: #181509;
}

.btn:hover {
    color: #FFFFFF;    
}